<configuration>
    <springProperty name="filePath" source="logging.file.path"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %C -%msg%n"/>
    <property name="FILE_NAME_PATTERN" value="logback.%d{yyyy-MM-dd}.%i.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filePath}/logback.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- TimeBasedRollingPolicy + SizeAndTimeBasedRollingPolicy 혼용 대신 아래와 같이 수정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${filePath}/${FILE_NAME_PATTERN}</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory> <!-- 필요에 따라 보관 일수를 줄임 -->
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="log4jdbc.log4j2" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 기타 로거 설정 -->
    <logger name="jdbc.sqlonly" level="info"/>
    <logger name="jdbc.sqltiming" level="off"/>
    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.resultsettable" level="info"/>
    <logger name="jdbc.connection" level="info"/>
    <logger name="jdbc.BaseJdbcLogger" level="debug"/>
</configuration>